body {
    display: block;
    overflow-x: hidden;
    min-height: 1000px;
    background-color: #ffffff;
}




nav {
    background-color: #0c0c0c;
}

navbar ul li a {
    color: #a9a9a9;
    font-size: 30px;
    margin: auto 20px;

}

navbar ul li a:hover {
    color: #683aa4;
}

section {
    padding-top: 5rem;
}

.header {
    background-color: #0c0c0c;
    height: 500px;
}

.header h2 {
    font-size: 45px;
    font-weight: bold;
}

.header h3 {
    font-weight: normal;
}

.judul {
    font-size: 35px;
    color: black;
}

.paragraph {
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: justify;
}

.fa-instagram {
    margin-top: 20px;
    font-size: 50px;
}

.footer {

    background-color: #000000;
    color: white;
    text-align: center;
    display: block;
    height: 120px;
    line-height: 30px;

}