body {
    display: block;
    overflow-x: hidden;
    min-height: 1000px;
    background-color: #f3eef8;
}


navbar ul li a {
    color: #a9a9a9;
    font-size: 40px;
    margin: auto 20px;

}

navbar ul li a:hover {
    color: #683aa4;
}

section {
    padding-top: 5rem;
}

.header {
    background-color: #0c0c0c;
    height: 500px;
}

.header h2 {
    font-size: 45px;
    font-weight: bold;
}

.header h3 {
    font-weight: normal;
}


.card-body {
    background-color: #fff;
    border: 1px solid black;
}

.card:hover {
    box-shadow: 90px #141414;
    border: 10px;
}

.card-text {
    color: rgb(0, 0, 0);
}

.fa-instagram {
    margin-top: 20px;
    font-size: 50px;
}

.footer {

    background-color: #000000;
    color: white;
    text-align: center;
    display: block;
    height: 120px;
    line-height: 30px;

}